/*---------------------obecné ---------------*/
body{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 100;
    color: black;
    }

h2{
    margin-left: 8%;
    color: gray;
}
.bile {
  background-color: white;
}
body {
  background-color: #d4eba6;
}
.celkovaStranka {
  margin-left: 100px;
  margin-right: 15%;
  background-color: white;
}
.popisek {
  position: absolute;
  font-size: 40px;
  top: 45%;
  left: 50%;
  color: #466804;
  text-align: center;
  font-weight: bold;
  transform: translate(-50%, -50%);
}
.obrazek {
  background-image: url("obrazky/pozadi3.jpg");
  height: 400px;
  background-size: cover;
  filter: blur(2px) grayscale();
  opacity: .4;
  position: relative;
  box-shadow: 0 0 8px 8px white;
  background-position: center;
}

.kontejner{
  display: flex;
  justify-content: center;
 /* margin-left: 5px;
  align-content: space-between;*/
  width: 150px;
}

.A{
}
/*---------------- MENU ---------------*/
.hlavicka {
    /* border-bottom: 2px solid greenyellow; */
    font-weight: 400;
    font-weight: bolder;
    text-align: right;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 100px;
        margin-right: 15%;

    overflow: hidden;
   }

   #app {
     margin-left: 100px;
        margin-right: 15%;
   }

/*.hlavicka logo{
    width: 20%;
    top: 0;
   text-align: left;
}*/
#omne {
  transition: all 2s;
  opacity: 0;
}
#omne.animujZobrazeni {
  opacity: 1; 
}

/*---------------------sekce o mě ---------------*/
.omneText{
padding-left: 50px;
    padding: 0 15%;
    color: gray;
   }

   .omne {
     width: 30%;
     display: inline
     margin-left: auto;
     margin-right: auto;
    }

    .mojefoto {
    width: 10%;
     display: inline;
     margin-left: auto;
     margin-right: auto;
    }
    
/*---------------------sekce výrobky ---------------*/

/*---------------------sekce fotogalerie ---------------*/

/*---------------------sekce Blog ---------------*/


/*---------------------sekce kontakt ---------------*/
.kontakt{
margin-left: 10%;
   }

.h2 kontakt{
    /*\margin-left: 50%;  /*neví proč to tady nereaguje,jdu spt*/
}

.kontejner {
 display: flex;
 /*justify-content: space-between;*/
}

.mojefoto {
    width: 40%;
    border-radius: 20%;
/*    margin-right: 80px;  */
}

.kontaktniinfo{
margin-left: -5%;
font-weight: 600;
font-size: 20px;
}


/*---------------- patička ---------------*/
footer{
border: 2px solid whitesmoke;
text-align: center;
background-color: #f5f5f5;
color: #88cc00;
width: 850px;
margin-left: 200px;
font-weight: bold;
 }

 .nadpis {
font-weight: bold;
 }
