/*---------------------obecné ---------------*/
body{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 100;
    color: black;
    background-color: #d4eba6;
    color: darkslategray;
}

.celkovaStranka {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.obrazek {
    position: relative;
    background-image: url("obrazky/profilovka.png");
    height: 300px;
    background-size: cover;
    filter: blur(1px) grayscale();
    opacity: .3;
    position: relative;
    background-position: center;
    
}

.wrapper {
  position: relative;

}
.text {
  position: absolute;
  color: #457052;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 40%;
  padding: 30px;
}

.logo{
 /* padding-right: 700px;
  margin-top:50px;*/
  width:32%;
  left: 18%;
  top:0
  margin-bottom:0;
  position: absolute;
  }

.vedleTextu {
  position: absolute;
  color: #457052;
  font-weight: bold;
  top: 50%;
  left: 60%;
  transform: translate(10%, -50%);
}

/*---------------- MENU ---------------*/
.hlavicka {
   font-weight: 400;
    font-weight: bolder;
    text-align: right;
    margin-bottom: 100px;
   margin-top: 5px;
    margin-left: 100px;
    margin-right: 15%;
    overflow: hidden;
  /position: relative;
  }

.button1{
  margin-top: 30px;
  justify-content: right;
}

.fade-enter-active, .fade-leave-active {
  transition: all .3s ease;
}
.fade-enter, .fade-leave-to {
  /* transform: translateY(-50px); */
  /* opacity: 0; */
  transform: scale(0);
}

.sipka {
  border-left: 20px solid #da3f94; 
  /*left: 10px;*/
  padding-right: 12px;

}

.fotosA, .fotoB, .fotoC{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.A:hover, .A:focus, .A:active,
.B:hover, .B:focus, .B:active,
.C:hover, .C:focus ,.C:active{
  color: black;
  text-decoration: none;
  cursor: pointer;
   width: 35%;
}

/*------------Výrbky----------------------------*/
.seznamVyrobku {
  flex-flow: row-reverse wrap;  
  margin-top: 30px;
  display: flex;
}

.druh{
  width: 45%;
  margin-right: 10px;
}

.nazev{
  display: flex;
  /*margin-left: 5% ;*/
}

.vyrobek{
width: 90%;
margin-bottom: 30px;
 /*flex:wrap;*/
 justify-content: center;
 align-items: center;
  }

.druh img{
  margin-top:0px;
}

.nadpis{
text-align:center;
}

.text1{
  padding-left: 15px;
}
/*---------------------sekce o mě ---------------*/
.omneText{
    padding-left: 50px;
    padding: 0 15%;
    margin-bottom: 20px;
}

.mojefoto {
     width: 100px;
   /* margin-left: auto;*/
    border-radius: 20%;
   /* margin-left:250px;*/
      }

      .stroj{
    border-radius: 20%;

      }
.container{
   padding-left: 15px;
}

/*---------------------sekce kontakt ---------------*/

.sipka{
  border-right:10px solid #da3f94;
  border-top: 10px solid #da3f94;
  border-left: 0;
  position: absolute;
  top:-145px;
  left:-45px;
  width: 50px;
  height: 50px;
  transform: rotate(45deg);
}

.konecObrazku{
  position: relative;
}

button, .button {
    background-color: #457052;
    color: #fff;
    border-radius: .5em;
    border: 0;
    padding: 1em;
    transition: all .2s;
}
button:hover {
    background-color: #BECA6C;
}
button.big {
    font-size: 2em;
    padding: 1em;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/*----------patička -----*/
.footer{
  text-align: center;
  font-weight: 600;
  font-size: large;
  color: #457052;
}
