/*---------------------obecné ---------------*/
body{
    font-family: 'Nunito Sans', sans-serif; 
    font-weight: 100;
    color: black;
    }

    .celkovaStranka{
        margin-left: 100px;
        margin-right: 15%;
    }

h2{
    margin-left: 8%;  
    color: gray;
}

/*---------------- MENU ---------------*/
.hlavicka {
    border-bottom: 2px solid greenyellow;
    font-weight: 400;
    font-weight: bolder;
    text-align: right;
    margin-bottom: 0;
    margin-top: 0;
  
    overflow: hidden;
   }

/*.hlavicka logo{
    width: 20%;
    top: 0;
   text-align: left;
}*/


/*---------------------sekce OBECNĚ ---------------*/
section{
 
    padding: 0 15%;
    color: gray;
   }


/*---------------------sekce o mě ---------------*/
.omne {
   background: linear-gradient(0deg, #ccff66 0%, rgba(0,0,0,0) 100%);
 /* padding: 15%;*/
  color: grey
  }

.omne h2{
margin-right: 50px;
text-align: center;
}

.omne p{
margin-left: 50px;
  }

.omne img{
    width: 30%;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

/*---------------------sekce výrobky ---------------*/

/*---------------------sekce fotogalerie ---------------*/

/*---------------------sekce Blog ---------------*/


/*---------------------sekce kontakt ---------------*/
.kontakt{
margin-left: 10%;
   }

.h2 kontakt{
    /*\margin-left: 50%;  /*neví proč to tady nereaguje,jdu spt*/
}

.kontejner {
 display: flex;
 /*justify-content: space-between;*/
}

.mojefoto {
    width: 40%;
    border-radius: 20%;
/*    margin-right: 80px;  */
}

.kontaktniinfo{
margin-left: -5%;
font-weight: 600;
font-size: 20px;
}


/*---------------- patička ---------------*/
footer{
border: 2px solid whitesmoke;
text-align: center;
background-color: #f5f5f5;
color: #88cc00;
width: 850px;
margin-left: 200px;
font-weight: bold;
 }

 .nadpis {
font-weight: bold;
 }